*{
    padding: o;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
body{
    width: 375px;
    cursor: pointer;
}
.head{
    background-image: url(MA.jpg);
    background-size: cover;
    background-position: center;
    height: 30vh;
    width: 100%;
    display: flex;
}
.navbar{
    background: rgba(247, 243, 243,0.8);
    height: 40px;
    border-radius: 20px;
    line-height: 40px;
    width: 75%;
    margin-left: 20px;
}
.menu-bar{
    background-image: url(Menu-bar3.png);
    width: 30px;
    height: 30px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(255, 135, 50);
    display: flex;
    margin-top: 4px;
    margin-left: 6px;
}

.menu-bar:hover{
    background-image: url(Menu-bar3.png);
    width: 30px;
    height: 30px;
    background-size: 90%;
    background-position: center;
    background-color: rgb(255, 159, 50);;
    display: flex;
    margin-top: 4px;
    margin-left: 6px;
    opacity: 0.5;
}
.links{
    display: inline-block;
}
ul{
  align-items: center; 
 margin-top: -43px;
}
ul li{
    list-style: none;
    display: inline;
    margin-left: 5px;
}
ul li a{
    text-decoration: none;
    color: rgb(245, 229, 14, 0.);
    font-weight: bold;
    float: left;
    font-size: 12px;
    padding: 10px;
    
}
.img{
    background-image: url(Maa.jpg);
    background-size: cover;
    height: 108px;
    width: 97px;
    margin-top: 0px;
    margin-left: 90px;
    border-radius: 140px;
    margin-left: 140px;
}

.body-container{
    display: flex;
    flex-flow: column;
}
.nav-sidebar{
    background-color: red;
    height: 100%;
    width: 5px;
    visibility: hidden;
    
}
.nav-sidebar ul{
overflow: hidden;
visibility: hidden;

}
.nav-sidebar ul li{
    list-style: none;  
    
}
.nav-sidebar ul li span{
    color: rgb(255, 135, 50);
    margin-top: 50px;
    opacity: 0;
    display: block;
    padding-left: 0px;
    text-transform: uppercase;
    font-size: 12px;
}
.nav-sidebar ul li a{
    text-decoration: none;
    color: rgb(255, 135, 50);
    margin-top: 10px;
    opacity: 0;
    padding-left: 10px;
    text-transform: uppercase;
    font-size: 9px;
    
}
.blocks{
    height: 65vh;
    width: 330px;
    background: rgba(13, 27, 226, 0.2);
    display: flex;
    margin: 100px auto;
    margin-top: 20px;
    flex-flow: column;
    border-radius: 20px;
}
.block1{
    height: 100px;
    width: 100px;
    margin: 20px auto;
    background-color: #f5d20b;
    border-radius: 10px;
    border: 2px solid #b6eafe;
    line-height: 100px;
    text-align: center;
    color: white;
    
}
.block2{
     height: 100px;
    width: 100px;
    margin: 20px auto;
    background-color: rgb(255, 0, 140);
    border: 2px solid #b6eafe;
    border-radius: 10px;
    line-height: 100px;
    text-align: center;
    color: white;
    
}
.block3{
     height: 100px;
    width: 100px;
    margin: 20px auto;
    background-color: #33259f ;
    border: 2px solid #b6eafe;
    border-radius: 10px;
    line-height: 100px;
    text-align: center;
    color: white;
}
ion-icon{
    font-size: 30px;
    margin-left: 40px;
    padding-left: 30px;
}
.block1:hover{
    -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px; 
}
.block2:hover{
    -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px; 
}
.block3:hover{
    -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px; 
}
@media only screen and (min-width: 1200.68px){
    *{
        padding: 0;
        margin: 0;
    }
   
    body {
        width: 100%;
        cursor: pointer;
    }

    .head{
            background-image: url(MA.jpg);
            background-size: cover;
            background-position: center;
            height: 30vh;
            width: 100%;
            display: flex;
        }
        
        .navbar{
            background: rgba(247, 243, 243,0.8);
            height: 40px;
            border-radius: 20px;
            margin-top: 4px;
            line-height: 40px;
            width: 80%;
            margin-left: 80px;
            display: flex;
            z-index: 1000;
        }

        .menu-bar{
            background-image: url(Menu-bar3.png);
            width: 30px;
            height: 30px;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-color: rgb(255, 135, 50);
            display: flex;
            margin-top: 4px;
            margin-left: 6px;
        }
        
        .menu-bar:hover{
            background-image: url(Menu-bar3.png);
            width: 30px;
            height: 30px;
            background-size: 90%;
            background-position: center;
            background-color: rgb(255, 159, 50);;
            display: flex;
            margin-top: 4px;
            margin-left: 6px;
            opacity: 0.5;
        }

       .navbar ul{
            align-items: center;  
          }

          .navbar ul li{
              list-style: none;
              display: inline;
              padding-left:4px;
              margin-left: 19px;
             
          }

          .navbar ul li a{
              text-decoration: none;
              color: rgb(245, 229, 14, 0.);
              font-weight: bold;
              padding-left: 30px;  
              color: rgb(99, 94, 90);
              
          }

        .img{
            background-image: url(Maa.jpg);
            background-size: cover;
            background-position: center;
            height: 776px;
            width: 259.2px;
            margin-bottom: 10px;
            margin-left: auto;
            margin-right: auto;
            border-radius: 20px;
        }

    
        .body-container{
            display: flex;
            flex-flow: column;
            height: 70vh;
        }
        .nav-sidebar{
            background-color: black;
            height: 100vh;
            width: 20px;
            transition: all 0.3s ease-in-out;
        }
        .nav-sidebar ul{
        overflow: hidden;
        visibility: hidden;
        
        }
        .nav-sidebar ul li{
            list-style: none;  
            transition: all 0.3s ease-in-out;
            
        }
        .nav-sidebar ul li span{
            color: rgb(255, 135, 50);
            margin-top: 50px;
            opacity: 0;
            display: block;
            padding-left: 15px;
            text-transform: uppercase;
            font-size: 13px;
            transition: all 0.3s ease-in-out;
        }
        .nav-sidebar ul li a{
            text-decoration: none;
            color: rgb(255, 135, 50);
            margin-top: 50px;
            padding-left: 15px;
            text-transform: uppercase;
            font-size: 13px;
            transition: all 0.3s ease-in-out;
            
        }
        .nav-sidebar ul li a:hover{
            text-decoration: none;
            color: rgb(255, 135, 50);
            margin-top: 50px;
            padding-left: 15px;
            text-transform: uppercase;
            font-size: 12px;
            transition: all 0.3s ease-in-out;
            opacity: 0.6;
            
        }
        .blocks{
            height: 25vh;
            width: 500px;
            background: rgba(13, 27, 226, 0.2);
            display: flex;
            margin-left: auto;
            margin-right: auto;
            margin-top: 0;
            flex-flow: row;
            border-radius: 20px;
        
        }

}
